@media(max-width:1000px) {
    .text {
        flex-direction: column;
    }

    .text1,
    .text2,
    .end {
        width: 100%;
        padding: 30px 20px;
    }

    .rightp {
        width: 100%;
    }
}

@media(max-width:750px) {
    .header__nav-logo {
        margin: 30px 0 50px;
    }

    .header__nav-link {
        display: block;
        min-width: 145px;
        width: 100%;
    }

    .right__box-call {
        font-size: 16px;
    }
    
    .header__nav-list {
        max-width: 500px;
        width: 100%;
    }
}